$background: #D8BFD8;
$random: #98FB98;
$button: #523452;
$text: #232036;

//Home
$headerbg: rgb(209, 224, 238);

//login
$outline:  #5271ff;

//Motivational Quote
$bar: rgb(209, 224, 238);
$hover: #395dfc;

//Card
$cardBg: aliceblue;

//Text
$light: #333;
$secondaryButtonText: white;