$background: #D8BFD8;
$random: #98FB98;
$button: #523452;


//Home
$headerbg: rgb(209, 224, 238);

//login
$outline:  #5271ff;

//Motivational Quote
$bar: rgb(209, 224, 238);
$hover: #395dfc;

//Card
$cardBg: aliceblue;

//Text
$text: #232036; //primary
$light: #333;  //secondary
$lighter: darkgrey; //for date-time
$secondaryButtonText: white;

//Input
$input: rgba(180, 182, 187, 0.39);

//Divider
$divider: rgb(184, 203, 221);

//Button
$button-big: #5271ff;

//Messages 
$error: red;