@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.progress-bar {
    width: 100%;
    height: 1.2rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

    &__container {
        display: flex;
        align-items: center;
        height: 0.35rem;
        border-radius: 5px;
    }

    &__fill {
        height: 100%;
        width: 100%;
        background-color: $outline;
        border-radius: 0.3rem;
        transition: width 0.3s ease;
    }

    &__percentage {
        padding: 5px;
        font-size: 14px;
        color: $light;
        margin-left: 10px;
    }

    &__buttons {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        height: 1.4rem;
    }

    &__update {
        border: 1px solid $button;
        color: $button;
        width:5rem;
        border-radius: 0.2rem;
        background-color: $headerbg;
        cursor: pointer;
    }

    &__reset {
        border: none;
        color: $secondaryButtonText;
        background-color: $button;
        border-radius: 0.2rem;
        cursor: pointer;
    }
}