.header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 50px;
    border-bottom: 1px solid $outline;
    position: sticky;
    top: 0;
    background-color: rgb(209, 224, 238);
    //z-index: 999;

    // &__logo {
    //     display: flex;
    // }

    &__ref{
        display: flex;
        flex-direction: row;
    }

    &__logo-image {
        width: 18rem;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
    }

}