@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
    flex: 3;
    padding: 0.5rem 0rem 2rem 4rem;
    background-color: $headerbg;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        padding: 1rem;
    }

    &__item {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 1.2rem;
        margin-bottom: 1.2rem;
        background-color: aliceblue;
        border-radius: 0.4rem;
    }

    &__title {
        font-size: 1rem;
        font-weight: 400;
    }

    &__divider {
        background-color: $divider;
        margin-top: 0.2rem;
    }
}