@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.sidebar{
    flex: 3;
    padding: 2rem 0rem 2rem 4rem;
    background-color: $headerbg;

    &__container{
        padding: 1rem;
    }

    &__item{
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: aliceblue;
        border-radius: 0.4rem;
    }

    &__title{
        font-size: 1rem;
        font-weight: 400;
    }
}