@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.interaction {
    padding-top: 1rem;

    &__container{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__icon {
        display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
    }

    &--like{
        color: $outline;
    }

    &--star{
        color: $outline;
    }
}