@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.comments{
    &__input{
        display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 20px 0px;
    }

    &__avatar{
        width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    input{
        width: 100%;
        padding: 10px;
        border: 1px solid $outline;
        background-color: rgba(180, 182, 187, 0.39);
        
        &::placeholder{
            color: rgba(255, 255, 255, 0.562);
        }
    }

    &__button{
        border: none;
        background-color: #5271ff;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
    }

    &__comment{
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__detail{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.025rem;
        //align-items: flex-start;
    }

    &__name{
        font-weight: 500;
        font-size: 0.85rem;
    }

    &__comment-actual{
        font-weight: 400;
    }

    &__date{
        color: darkgray;
        font-size: 0.65rem;
        width: 10%;
    }
}